
/*================= Abrir Modal de informacion de los productos =================*/

/*Boton para abrir el MOdal*/
body #btnAbrirModalInfo {

    margin-top: 50px;
    margin-left: 50px;
    background-color: #A82C48;
}
/*Boton para abrir el Modal*/

/*================= Abrir Modal de informacion de los productos =================*/


/*================= Cuerpo del Modal =================*/

/*Poner el texto en color negro en todas las pantallas*/
#modalInfo .modal-body {
    color: black;
}
/*Poner el texto en colo negro*/


/*Estilos del titulo principal en pantallas pequeñas*/
#modalInfo .modal-body .tituloPrincipal {

    top: 100px;
    font-size: 50px;
    text-align: top;
    font-family: 'Quicksand', sans-serif;
}
/*Estilos del titulo principal en pantallas pequeñas*/


/*Boton de añadir al carrito en pantallas pequeñas*/
#modalInfo .modal-body .contenedorScreemSmall .btnAddCart {


    height: 40px;
    color: white;
    position: relative;
    background-color: #A82C48;
}
/*Boton de añadir al carrito en pantallas pequeñas*/

#modalInfo .modal-body .contenedorimg  img {
    box-shadow: 5px 5px 5px 0 rgba(70, 70, 70, 0.664);
}

/*Icono de la canasta en pantallas pequeñas*/
#modalInfo .modal-body .contenedorScreemSmall i {

    color: white;
    font-size: 20px;
}
/*Icono de la canasta en pantallas pequeñas*/


/*=================== Estilos para pantallas grandes=================== */
@media screen and (min-width: 1200px) {

    /*Imagen que aparece en pantalals grandes*/
    #modalInfo .modal-body .contenedorimg  img{

        right: 220px;
        width: 600px;
        height: 400px;
        bottom: -70px;
        position: relative;
        box-shadow: 5px 5px 5px 0 rgba(70, 70, 70, 0.664);
    }
    /*Imagen que aparece en pantalals grandes*/


    /*Contenedor de la imagen*/
    #modalInfo .modal-body .contenedorimg {

        height: 0;
    }
    /*Contenedor de la imagen*/


    /*Linea vertical que aparece en pantallas grandes*/
    #modalInfo .modal-body .linea-vertical {

        top: 0px;
        left: 675px;
        width: 12px;
        height: 500px;
        position: relative;
        background-color: #A82C48;
    }
    /*Linea vertical que aparece en pantallas grandes*/


    /*Organizar el tamaño del "contenedorScreemNormal" en pantallas grandes */
    #modalInfo .modal-body .contenedorScreemNormal {

        height: 50px;
    }
    /*Organizar el tamaño del "contenedorScreemNormal" en pantallas grandes */


    /*Titulo principal en pantallas grandes*/
    #modalInfo .modal-body .contenedorScreemNormal .tituloScreenNormal {

        left: 800px;
        bottom: 460px;
        font-size: 70px;
        position: relative;
    }
    /*Titulo principal en pantallas grandes*/


    /*Parrafo principal en pantallas grandes*/
    #modalInfo .modal-body .contenedorScreemNormal p {

        left: 739px;
        bottom: 460px;
        font-size: 25px;
        position: relative;
    }
    /*Parrafo principal en pantallas grandes*/


    /*h2 principal en pantallas grandes*/
    #modalInfo .modal-body .contenedorScreemNormal h2 {

        left: 740px;
        bottom: 320px;
        font-size: 40px;
        position: relative;
    }
    /*h2 principal en pantallas grandes*/


    /*Boton principal que va dentro del modal en pantallas grandes*/
    #modalInfo .modal-body .contenedorScreemNormal button {

        left: 740px;
        width: 170px;
        bottom: 340px;
        color: white;
        font-size: 15px;
        position: relative;
        background-color: #A82C48;
    }
    /*Boton principal que va dentro del modal en pantallas grandes*/
}












/*=====================================================================================================================================*/















